<h1>[ Todoリスト ]</h1>
<h2><%= link_to "New Task", new_task_path %></h2>

<% @tasks.each do |task| %>

  <p>Title</p>
  <span><%= link_to task.name, "/tasks/#{task.id}" %></span>
    <% if task.user == current_user %>
      <%= link_to "削除", tasks_path, method: :delete %>
    <% end %>

<% end %>